@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');



   
   
    /*CARDS*/
   /* #card-container {
        display: flex;
      }
      
      #card {
        width: 445px;
        height: 523px;
        border-radius: 20px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        margin-right: 25px;

      }*/

      
      
  

     


